---
layout: default.njk
pagination:
  data: beers
  size: 1
  alias: beer
permalink: "{{ beer.slug }}/"
eleventyComputed:
  title: "{{ beer.title }}: {{ beer.brewery }}"
  intro: "{{ beer.title }} from {{ beer.brewery }} scoring {{ beer.rating }}/10"
  socialMediaPhoto: "{{ meta.imgLarge }}{{ beer.id }}/large.jpg"
---

<main class="singlebeer">
	<div class="wrapper">
		<a href="{{ meta.imgLarge }}{{ beer.id }}/large.webp">
			<img src="{{ meta.img }}{{ beer.id }}/small.webp" width="150" height="150" loading="lazy" alt="{{ beer.brewery }} - {{ beer.title }}">
		</a>
		<div class="content">
			<a href="{{ beer.brewery_slug }}" class="brewery">{{ beer.brewery }}</a>
			<div class="title">{{ beer.title }}</div>
			<div class="rating">{{ beer.rating }}</div>
			<div class="meta">
				<div class="number">{{ beer.number }}</div>
				<div class="link"><a target="_blank" href="https://www.instagram.com/p/{{ beer.code }}">View on Instagram</a></div>
			</div>
		</div>
	</div>
	<p>{{ beer.description }}</p>
</main>
