---
layout: default.njk
pagination:
  data: data.beers
  size: 1
  alias: beer
permalink: "{{ beer.slug }}/"
eleventyComputed:
  title: "{{ beer.title }} by {{ beer.brewery }}"
  intro: "{{ beer.description }}"
  socialMediaPhoto: "{{ meta.imgLarge }}{{ beer.id }}/large.jpg"
---

<main class="singlebeer">
	<div class="wrapper">
		<a href="{{ meta.imgLarge }}{{ beer.image }}">
			<img src="{{ meta.img }}{{ beer.image }}" width="200" height="200" loading="lazy" alt="{{ beer.brewery }} - {{ beer.title }}">
		</a>
		<div class="content">
			<div>
				{% for brewery in beer.breweries %}
				<a href="{{ brewery.slug }}" class="brewery">{{ brewery.title }}</a>{{ ", " if not loop.last else "" }}
				{% endfor %}
			</div>
			<div class="title">{{ beer.title }}</div>
			<div class="rating">{{ beer.rating }}</div>
			<div class="meta">
				<div>{{ beer.date | dateLong }}</div>
			</div>
			<div class="meta">
				<div class="number">{{ beer.number }}</div>
				<div class="link"><a target="_blank" href="https://www.instagram.com/p/{{ beer.code }}">View on Instagram</a></div>
			</div>
		</div>
	</div>
	<p>{{ beer.description }}</p>
</main>
<nav>
	<h2>View other beers</h2>
	<ul class="list listSmall">
		{% set beer = pagination.page.previous %}
		{% if beer %}
			{% include 'beer.njk' %}
		{% endif %}
		{% set beer = pagination.page.next %}
		{% if beer %}
			{% include 'beer.njk' %}
		{% endif %}
	</ul>
</nav>
