---
layout: default.njk
pagination:
  data: beers
  size: 1
  alias: beer
permalink: "beer/{{ beer.slug | slugify }}/"
eleventyComputed:
  title: "{{ beer.title }}: {{ beer.brewery }}"
  intro: "{{ beer.title }} from {{ beer.brewery }} scoring {{ beer.rating }}/10"
---

<main id="beers">
	<ul class="list">
		<li>
			<a href="/assets/media/{{ beer.id }}/large.jpg" class="popup" title="">
				<img src="{{ meta.img }}{{ beer.id }}/small.webp" width="150" height="150" loading="lazy" alt="{{ beer.brewery }} - {{ beer.title }}">
			</a>
			<div class="content">
				<div class="brewery">{{ beer.brewery }}</div>
				<div class="title">{{ beer.title }}</div>
				<div class="rating">{{ beer.rating }}</div>
				<p>{{ beer.description }}</p>
				<div class="meta">
					<div class="number">{{ beer.number }}</div>
					<div class="link"><a target="_blank" href="https://www.instagram.com/p/{{ beer.code }}">View on Instagram</a></div>
				</div>
			</div>
		</li>
	</ul>
</main>
