---
layout: default.njk
seoTitle: Beers
intro: A list of all the beers
---

<h1>Beers <small>({{ collections.beer | length }})</small></h1>

<table>
	<tr>
		<th></th>
		<th>Image</th>
		<th>Beer</th>
		<th>Breweries</th>
		<th>Score</th>
	</tr>
	{% for beer in collections.beer %}
	<tr>
		<td>{{ beer.data.number }}</td>
		<td width="50"><a href="{{ beer.url }}" title="{{ beer.data.brewedBy }} - {{ beer.data.title }}" class="secret"><img src="{{ beer.data.thumbnailPath }}" width="50" height="50" loading="lazy" alt="{{ beer.data.brewedBy }} - {{ beer.data.title }}">
		</a></td>
		<td><a href="{{ beer.url }}" title=""><strong>{{ beer.data.title }}</strong></a></td>
		<td>
		{% for brewery in beer.data.breweries %}
			<a href="{{ brewery.url }}" class="brewery">{{ brewery.data.title }}</a>{{ ", " if not loop.last else "" }}
		{% endfor %}
		</td>
		<td><span class="rating">{{ beer.data.rating }}</span></td>
	</tr>
	{% endfor %}
</table>

<script src="/assets/js/table-sort.js"></script>
