---js
{
	layout: 'style.njk',
	tags: ['breweryStyle'],
	pagination: {
		data: 'collections.breweryStyleCombos',
		size: 1,
		alias: 'combo',
		addAllPagesToCollections: true
	},
	permalink: 'brewery/{{ combo.brewerySlug }}/style/{{ combo.styleSlug }}/',
	eleventyComputed: {
		title: data => `${data.combo.brewery.data.title} - ${data.combo.styleMain}`,
		seoTitle: data => `${data.combo.brewery.data.title} - ${data.combo.styleMain} - Beers`,
		beers: data => {
			const beerListStats = require(require('path').join(process.cwd(), 'app/filters/beerListStats'));
			return beerListStats.sortBeers(data.combo.beers);
		},
		stats: data => {
			const beerListStats = require(require('path').join(process.cwd(), 'app/filters/beerListStats'));
			return beerListStats.buildStats(data.beers);
		},
		filterOptions: data => {
			const buildFilterOptions = require(require('path').join(process.cwd(), 'app/filters/filterOptions'));
			return buildFilterOptions(data.collections, {
				brewerySlug: data.combo.brewerySlug,
				styleSlug: data.combo.styleSlug
			});
		},
		filterBreweries: data => data.filterOptions.filterBreweries,
		filterStyles: data => data.filterOptions.filterStyles,
		filterShops: data => data.filterOptions.filterShops,
		allBreweryUrl: data => data.filterOptions.allBreweryUrl,
		allStyleUrl: data => data.filterOptions.allStyleUrl,
		allShopUrl: data => data.filterOptions.allShopUrl
	}
}
---
