---
layout: default.njk
pagination:
  data: breweries
  size: 1
  alias: brewery
permalink: "{{ brewery.slug }}/"
---

<main id="beers">
	<h1>{{ brewery.title }}</h1>
	<p>
		Beer count: <strong>{{ brewery.beers.length }}</strong><br>
		Average score: <strong>{{ brewery.meta.mean }}</strong> / 10 <br>
		Median score: <strong>{{ brewery.meta.median }}</strong> / 10
	</p>
	<ul class="list">
		{% for beer in brewery.beers %}
			<li>
				<a href="{{ beer.slug }}" title="{{ beer.title }}">
					<img src="{{ meta.img }}{{ beer.id }}/small.webp" width="150" height="150" loading="lazy" alt="{{ beer.brewery }} - {{ beer.title }}">
				</a>
				<div class="content">
					<div class="brewery">{{ beer.brewery }}</div>
					<a href="{{ beer.slug }}" class="title">{{ beer.title }}</a>
					<div class="rating">{{ beer.rating }}</div>

					<div class="meta">
						<div class="number">{{ beer.number }}</div>
						<div class="link"><a target="_blank" href="https://www.instagram.com/p/{{ beer.code }}">View on Instagram</a></div>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
</main>
