---
layout: default.njk
seoTitle: Breweries
intro: A list of breweries whose beer has been reviewed
---

<h1>Breweries</h1>

<table>
	<tr>
		<th>Brewery</th>
		<th>No. of Beers</th>
		<th>Average score</th>
		<th>Median score</th>
	</tr>
	{% for brewery in collections.sortedBreweries %}
	<tr>
		<td><a href="{{ brewery.url }}">{{ brewery.data.title }}</a></td>
		<td>{{ brewery.data.beers.length }}</td>
		<td><span class="rating">{{ brewery.data.stats.mean }}</span></td>
		<td><span class="rating">{{ brewery.data.stats.median }}</span></td>
	</tr>
	{% endfor %}
</table>

<script>
const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
	v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
	)(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

// do the work...
document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
	const table = th.closest('table');
	Array.from(table.querySelectorAll('tr:nth-child(n+2)'))
		.sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
		.forEach(tr => table.appendChild(tr) );
})));
</script>
