---js
{
	layout: 'style.njk',
	tags: ['breweryShop'],
	pagination: {
		data: 'collections.breweryShopCombos',
		size: 1,
		alias: 'combo',
		addAllPagesToCollections: true
	},
	permalink: 'brewery/{{ combo.brewerySlug }}/shop/{{ combo.shopSlug }}/',
	eleventyComputed: {
		title: data => `${data.combo.brewery.data.title} - ${data.combo.shop.data.title}`,
		seoTitle: data => `${data.combo.brewery.data.title} - ${data.combo.shop.data.title} - Beers`,
		beers: data => {
			const beerListStats = require(require('path').join(process.cwd(), 'app/filters/beerListStats'));
			return beerListStats.sortBeers(data.combo.beers);
		},
		stats: data => {
			const beerListStats = require(require('path').join(process.cwd(), 'app/filters/beerListStats'));
			return beerListStats.buildStats(data.beers);
		},
		filterOptions: data => {
			const buildFilterOptions = require(require('path').join(process.cwd(), 'app/filters/filterOptions'));
			return buildFilterOptions(data.collections, {
				brewerySlug: data.combo.brewerySlug,
				shopSlug: data.combo.shopSlug
			});
		},
		filterBreweries: data => data.filterOptions.filterBreweries,
		filterStyles: data => data.filterOptions.filterStyles,
		filterShops: data => data.filterOptions.filterShops
	}
}
---
