---
layout: default.njk
pagination:
  data: data.breweries
  size: 1
  alias: brewery
permalink: "{{ brewery.slug }}/"
eleventyComputed:
  title: "{{ brewery.title }} beers"
  description: "{{ brewery.beers.length }} beers reviewed from {{ brewery.title }} with an average score of {{ brewery.meta.mean }}/10"
---

<main id="beers">
	<h1>{{ brewery.title }}</h1>
	<p>
		Beer count: <strong>{{ brewery.beers.length }}</strong><br>
		Average score: <strong>{{ brewery.meta.mean }}</strong> / 10 <br>
		Median score: <strong>{{ brewery.meta.median }}</strong> / 10
	</p>
	<ul class="list">
		{% for beer in brewery.beers %}
			<li>
				<a href="{{ beer.slug }}" title="{{ beer.title }}">
					<img src="{{ meta.img }}{{ beer.image }}" width="150" height="150" loading="lazy" alt="{{ beer.brewery }} - {{ beer.title }}">
				</a>
				<div class="content">
					<div>
					{% for brewery in beer.breweries %}
					<a href="{{ brewery.slug }}" class="brewery">{{ brewery.title }}</a>{{ ", " if not loop.last else "" }}
					{% endfor %}
					</div>
					<a href="{{ beer.slug }}" class="title">{{ beer.title }}</a>
					<div class="rating">{{ beer.rating }}</div>
					<div class="meta">
						<div class="number">{{ beer.number }} - {{ beer.date | dateLong }}</div>
					</div>
				</div>
			</li>
		{% endfor %}
	</ul>
</main>
