---js
{
	layout: 'style.njk',
	tags: ['breweryStyleShop'],
	pagination: {
		data: 'collections.breweryStyleShopCombos',
		size: 1,
		alias: 'combo',
		addAllPagesToCollections: true
	},
	permalink: 'brewery/{{ combo.brewerySlug }}/style/{{ combo.styleSlug }}/shop/{{ combo.shopSlug }}/',
	eleventyComputed: {
		title: data => `${data.combo.brewery.data.title} - ${data.combo.styleMain} - ${data.combo.shop.data.title}`,
		seoTitle: data => `${data.combo.brewery.data.title} - ${data.combo.styleMain} - ${data.combo.shop.data.title} - Beers`,
		titleLines: data => ([
			{ label: 'Brewery', value: data.combo.brewery.data.title },
			{ label: 'Style', value: data.combo.styleMain },
			{ label: 'Shop', value: data.combo.shop.data.title }
		]),
		beers: data => {
			const beerListStats = require(require('path').join(process.cwd(), 'app/filters/beerListStats'));
			return beerListStats.sortBeers(data.combo.beers);
		},
		stats: data => {
			const beerListStats = require(require('path').join(process.cwd(), 'app/filters/beerListStats'));
			return beerListStats.buildStats(data.beers);
		},
		filterOptions: data => {
			const buildFilterOptions = require(require('path').join(process.cwd(), 'app/filters/filterOptions'));
			return buildFilterOptions(data.collections, {
				brewerySlug: data.combo.brewerySlug,
				styleSlug: data.combo.styleSlug,
				shopSlug: data.combo.shopSlug
			});
		},
		filterBreweries: data => data.filterOptions.filterBreweries,
		filterStyles: data => data.filterOptions.filterStyles,
		filterShops: data => data.filterOptions.filterShops,
		allBreweryUrl: data => data.filterOptions.allBreweryUrl,
		allStyleUrl: data => data.filterOptions.allStyleUrl,
		allShopUrl: data => data.filterOptions.allShopUrl,
		breweryActive: data => data.filterOptions.breweryActive,
		styleActive: data => data.filterOptions.styleActive,
		shopActive: data => data.filterOptions.shopActive
	}
}
---
