---js
{
	layout: "beerlist.njk",
	permalink: "/ordered/rating/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber}}/{% endif %}index.html",
	title: "Beers ordered by rating - from highest to lowest",
	intro: "Beers ordered according to their rating out of 10, showing the highest first",
	pagination: {
		data: "data.beers",
		size: 40,
		before: function(data) {
			return data
				.filter(a => a.rating)
				.sort((a, b) => (parseInt(a.rating) > parseInt(b.rating)) ? 1 : -1)
				.reverse();
		}
	}
}
---

