---
layout: default.njk
seoTitle: Statistics
---
<div class="statsPage">
	<div class="statWrap">
		<div class="statbox">
			<div class="stat">{{ collections.beer | length }}</div>
			<div class="subtitle">beers</div>
		</div>
		<div class="statbox">
			<div class="stat">{{ collections.brewery | length }}</div>
			<div class="subtitle">breweries</div>
		</div>
	</div>

	<h2>Number of beers per rating</h2>
	<p>Half points are rounded down</p>
	<div class="chart">
		<div id="ratingCount"></div>
	</div>

	<h2>Number of beers per month</h2>
	<div class="chart">
		<div id="monthCount"></div>
	</div>

	<h2>Average scores by serving type</h2>
	<div id="servingScore"></div>

	<h2>Average scores by purchased location</h2>
	<div id="purchasedScore"></div>

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script>
	let beers = [],
		beer = {};
	{%- for beer in collections.beer %}
		beer = {
			number: "{{ beer.data.number }}",
			rating: "{{ beer.data.rating }}",
			date: "{{ beer.data.date }}"
		}
		{% if beer.data.serving %}
		beer.serving = "{{ beer.data.serving }}";
		{% endif %}
		{% if beer.data.purchased %}
		beer.purchased = "{{ beer.data.purchased }}";
		{% endif %}
		beers.push(beer)
	{%- endfor %}

	var chartOptions = {
		chart: {
			height: 250,
			type: 'area',
			toolbar: {
				show: false
			},
			zoom: {
				enabled: false,
			}
		},
		stroke: {
			curve: 'smooth'
		},
		dataLabels: {
			enabled: false
		},
		fill: {
			type: "gradient",
			gradient: {
				shadeIntensity: 1,
				inverseColors: false,
				opacityFrom: 0.45,
				opacityTo: 0.05,
				stops: [20, 100]
			}
		}
	}

	let ratingCount = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
	for(let b of beers) {
		if(parseInt(b.rating)) {
			ratingCount[parseInt(b.rating) - 1]++;
		}
	}
	new ApexCharts(document.querySelector("#ratingCount"), {
		...chartOptions,
		series: [{
			name: 'Number of beers',
			data: ratingCount
		}],
		xaxis: {
			categories: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
		},
		colors: ['#35eb93']
	}).render();

	/**
	* Beers by Month
	**/
	let beersByMonth = {};
	for(let b of beers) {
		let d = b.date.split('-');

		if(beersByMonth[`${d[1]}-${d[0]}`]) {
			beersByMonth[`${d[1]}-${d[0]}`]++;
		} else {
			beersByMonth[`${d[1]}-${d[0]}`] = 1;
		}
	}

	let xaxis = ['12-2016'];
	let yaxis = [beersByMonth['12-2016']];
	for (let y = 2017; y <= new Date().getFullYear(); y += 1) {
		for (let m = 1; m <= 12; m += 1) {
			let d = `${(m < 10 ? '0' : '') + m}-${y}`;
			xaxis.push(d);
			yaxis.push(beersByMonth[d] ?? 0);
		}
	}

	new ApexCharts(document.querySelector("#monthCount"), {
		...chartOptions,
		series: [{
			name: 'Number of beers',
			data: yaxis
		}],
		xaxis: {
			tickAmount: 15,
			categories: xaxis
		},
		colors: ['#dd2c41']
	}).render();

	/**
	 * Rating by serving & purchased
	 */
	let servings = {},
		purchaseds = [];
	for(let b of beers) {
		if(b.serving) {
			if(servings[b.serving]) {
				servings[b.serving].count++;
				servings[b.serving].rating += parseFloat(b.rating);
			} else {
				servings[b.serving] = {
					title: b.serving,
					count: 1,
					rating: parseFloat(b.rating),
				}
			}
		}
		if(b.purchased) {
			if(purchaseds[b.purchased]) {
				purchaseds[b.purchased].count++;
				purchaseds[b.purchased].rating += parseFloat(b.rating);
			} else {
				purchaseds[b.purchased] = {
					title: b.purchased,
					count: 1,
					rating: parseFloat(b.rating),
				}
			}
		}
	}

	let servingScore = [];
	for(let serving in servings) {
		serving = servings[serving];
		servingScore.push({
			x: serving.title,
			y: (Math.round((serving.rating / serving.count) * 10) / 10)
		})
	}

	new ApexCharts(document.querySelector("#servingScore"), {
		...chartOptions,
		chart: {
			type: 'bar',
			height: 175
		},
		plotOptions: {
			bar: {
				horizontal: true
			}
		},
		fill: {
			type: 'gradient',
			opacity: 0.5,
			gradient: {
				shade: 'light'
			}
		},
		stroke: {
			show: true,
			width: 2
		},
		colors: ['#35eb93'],
		series: [{
			data: servingScore
		}]
	}).render();

	let purchasedScore = [];
	for(let purchased in purchaseds) {
		purchased = purchaseds[purchased];

		purchasedScore.push({
			x: purchased.title,
			y: (Math.round((purchased.rating / purchased.count) * 10) / 10)
		})
	}

	new ApexCharts(document.querySelector("#purchasedScore"), {
		...chartOptions,
		chart: {
			type: 'bar'
		},
		plotOptions: {
			bar: {
				horizontal: true
			}
		},
		fill: {
			type: "solid"
		},
		series: [{
			data: purchasedScore
		}]
	}).render();


	</script>
</div>
