---js
{
	layout: 'style.njk',
	tags: ['styleMain'],
	pagination: {
		data: 'collections.styleMainNames',
		size: 1,
		alias: 'styleMain',
		addAllPagesToCollections: true
	},
	permalink: 'style/{{ styleMain | slugify }}/',
	eleventyComputed: {
		title: data => data.styleMain,
		seoTitle: data => `${data.styleMain} - Beers in this style`,
		beers: data => {
			const beerListStats = require(require('path').join(process.cwd(), 'app/filters/beerListStats'));
			return beerListStats.sortBeers(
				data.collections.beer.filter(a => a.data.styleMain == data.styleMain)
			);
		},
		stats: data => {
			const beerListStats = require(require('path').join(process.cwd(), 'app/filters/beerListStats'));
			return beerListStats.buildStats(data.beers);
		},
		filterOptions: data => {
			const buildFilterOptions = require(require('path').join(process.cwd(), 'app/filters/filterOptions'));
			const slugifyStyle = require(require('path').join(process.cwd(), 'app/filters/slugifyStyle'));
			return buildFilterOptions(data.collections, {
				styleSlug: slugifyStyle(data.styleMain)
			});
		},
		filterBreweries: data => data.filterOptions.filterBreweries,
		filterStyles: data => data.filterOptions.filterStyles,
		filterShops: data => data.filterOptions.filterShops,
		allBreweryUrl: data => data.filterOptions.allBreweryUrl,
		allStyleUrl: data => data.filterOptions.allStyleUrl,
		allShopUrl: data => data.filterOptions.allShopUrl,
		breweryActive: data => data.filterOptions.breweryActive,
		styleActive: data => data.filterOptions.styleActive,
		shopActive: data => data.filterOptions.shopActive
	}
}
---
