---
permalink: rss
sitemapIgnore: true
---
<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
	<channel>
		<title>{{ meta.site.title }}</title>
		<link>{{ meta.site.url }}</link>
		<description>{{ meta.site.description }}</description>
		<language>en-us</language>
		<pubDate>{{ page.date.toUTCString() }}</pubDate>
		<lastBuildDate>{{ page.date.toUTCString() }}</lastBuildDate>
		<atom:link href="{{ meta.site.url }}/{{ permalink }}" rel="self" type="application/xml" />
		<image>
			<url>{{ meta.site.url }}assets/img/favicon-512.png</url>
			<title>{{ meta.site.title }}</title>
			<link>{{ meta.site.url }}</link>
			<width>144</width>
			<height>144</height>
			<description>{{ meta.site.description }}</description>
		</image>
		{% for beer in collections.beer | reverse | limit(10) %}
		<item>
			<title>{{ beer.data.title | escape | safe }} ({{ beer.data.brewedBy | escape | safe }})</title>
			<link>{{ meta.site.url }}{{ beer.url }}</link>
			<pubDate>{{ beer.date | dateUTC }}</pubDate>
			<guid>{{ meta.site.url }}{{ beer.url }}</guid>
			<description><![CDATA[
<img src="{{ meta.img }}{{ beer.id }}/small.jpg" width="150" height="150"  alt="{{ beer.data.brewedBy | safe }} - {{ beer.data.title | safe }}">
<h1>{{ beer.data.title | safe }}</h1>
<h2>{{ beer.data.brewedBy | safe }}</h2>
<h2>{{ beer.data.rating }}/10</h2>
{{ entry.templateContent | safe }}
			]]></description>
		</item>
		{% endfor %}

	</channel>
</rss>
