---
permalink: /sitemap.xml
sitemapIgnore: true
---
<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	<sitemap>
		<loc>https://alehouse.rocks/sitemap-beers.xml</loc>
		<lastmod>{{ page.date | dateISOShort }}</lastmod>
	</sitemap>
	<sitemap>
		<loc>https://alehouse.rocks/sitemap-breweries.xml</loc>
		<lastmod>{{ page.date | dateISOShort }}</lastmod>
	</sitemap>
</sitemapindex>
