---
permalink: api/aliases.json
sitemapIgnore: true
---
{
	{% for brewery in collections.brewery %}
		{% if brewery.data.aliases %}
		{% for alias in brewery.data.aliases %}
		"{{ alias }}": "{{ brewery.fileSlug }}"{% if not loop.last %},{% endif %}
		{% endfor %}
		{% endif %}
	{% endfor %}
}
