---js
{
	permalink: "api/aliases.json",
	sitemapIgnore: true,
	aliases: function() {
		let breweries = this.ctx.collections.brewery.filter(a => a.data.aliases),
			output = [];

		// Loop through each of the entries
		for(let item of breweries) {
			for(let alias of item.data.aliases) {
				output.push({
					alias,
					fileSlug: item.fileSlug
				})
			}
		}

		return output;
	}
}
---
{
	{% for alias in aliases() %}
		"{{ alias.alias }}": "{{ alias.fileSlug }}"{% if not loop.last %},{% endif %}
	{% endfor %}
}
