---
permalink: api/beers/canonicals.json
sitemapIgnore: true
---
{
	{% for beer in collections.beer %}
		"{{ beer.data.links.untappd or beer.data.links.instagram }}": "{{ beer.url }}"{% if not loop.last %},{% endif %}
	{% endfor %}
}
