---
permalink: api/beers/canonicals.json
sitemapIgnore: true
---
{
	{% for beer in collections.beer %}
		"{{ beer.data.canonical }}": "{{ beer.url }}"{% if not loop.last %},{% endif %}
	{% endfor %}
}
