---
layout: default.njk
---

<main id="beers">
	<h1>{{ title }}</h1>
	<p>
		Beer count: <strong>{{ beers.length }}</strong><br>
		Average score: <strong>{{ stats.mean }}</strong> / 10 <br>
		Median score: <strong>{{ stats.median }}</strong> / 10
	</p>

	{{ content | safe }}

	<ul class="list">
		{% for beer in beers | reverse %}
			{% include 'beer.njk' %}
		{% endfor %}
	</ul>
</main>
