---
layout: default.njk
---

<main id="beers" class="singlebrewery">
	<div class="intro">
		{% if imagePath %}
			<img src="{{ imagePath }}" width="150" height="150" loading="lazy" alt="{{ title }}">
		{% endif %}
		<div class="content">
			<h1>
				{{ title }}
			</h1>
			{% if location %}<p>{{ location }}</p>{% endif %}
			<ul>
				{% if website %}<li><a href="{{ website }}">Website</a></li>{% endif %}
				{% if instagram %}<li><a href="{{ instagram }}">Instagram</a></li>{% endif %}
				{% if twitter %}<li><a href="{{ twitter }}">Twitter</a></li>{% endif %}
				{% if facebook %}<li><a href="{{ facebook }}">Facebook</a></li>{% endif %}
				{% if untappd %}<li><a href="{{ untappd }}">Untappd</a></li>{% endif %}
			</ul>
		</div>
	</div>
	{% include 'stats-chart.njk' %}
</main>
